@{
}

<section id="profile">
    <div class="container">
        <nav class="nav flex-column mb-5 mt-3 border border-2 border-dark-subtle rounded-3">
            <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover p-2" asp-controller="Profile" asp-action="Details">Personal Details</a>
            <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover p-2" asp-controller="Profile" asp-action="Details">My Order</a>
            <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover p-2" asp-controller="Profile" asp-action="Details">My Favourites</a>
            <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover p-2" asp-controller="Profile" asp-action="Details">Shipping Address</a>
            <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover p-2" asp-controller="Profile" asp-action="Details">My Card</a>
            <a class="link-dark link-offset-2 link-underline-opacity-0 link-underline-opacity-50-hover p-2" asp-controller="Profile" asp-action="Details">Settings</a>
        </nav>
    </div>
</section>