#personal-details {
    padding-top: 80px;

    .container {
        max-width: 600px;
        margin: auto;
        padding: 0 20px;

        .user-info {
            display: flex;
            flex-direction: column;
            gap: 15px;

            .user-info-form {

                .label-form {
                    font-size: 16px;
                    color: #aaa;
                }

                .input-field {
                    font-size: 16px;
                    border: 1px solid transparent;
                    border-bottom: 1px solid #DDD;
                    padding: 0.8rem;
                    transition: border-color 0.2s ease;
                    margin: 10px 0;
                    box-sizing: border-box;

                    &:focus {
                        outline: none;
                        border: 1px solid #b4b4b4;
                        border-radius: 5px;
                    }
                }

                .text-danger {
                    margin-left: 15px;
                }

                .personal-input {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    gap: 30px;

                    .label-form {
                        flex-shrink: 0;
                    }

                    .input-group {
                        display: flex;
                        flex-direction: column;
                        width: 100%;
                        max-width: 445px;

                        .input-field {
                            flex-grow: 1;
                        }
                    }
                }

                .personal-img-form {
                    .personal-img {
                        margin: 0 auto;
                        width: 80px;
                        height: 80px;
                        border-radius: 20px;
                        background-color: #ccc;
                    }

                    .upload-image-btn {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 20px auto;
                        color: #000;
                        background-color: #ebebeb;
                        border: 2px solid #ebebeb;
                        border-radius: 5px;
                        cursor: pointer;
                        font-size: 12px;
                        transition: background-color 0.2s ease-in-out, border 0.2s ease-in-out;


                        .personal-img-label {
                            color: #000;
                            font-weight: 600;
                            margin-right: 8px;
                            cursor: pointer;
                        }

                        &:hover {
                            background-color: #fff;
                            border: 2px solid #ddd;
                            box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.1);
                        }

                        i {
                            font-size: 12px;
                        }
                    }

                    .profile-image-url {
                        display: none;
                        margin-right: 8px;
                        margin-bottom: 1.5rem;
                        font-size: 16px;
                        width: 100%;
                    }
                }
            }

            .btn {
                width: 100%;
                padding: 10px;
                border-radius: 5px;
                font-size: 16px;
                cursor: pointer;
                transition: background-color 0.3s ease;
                margin-top: 10px;
            }
        }

        .settings {
            h5 {
                font-size: 20px;
                font-weight: 700;
            }

            .nav-settings {
                display: flex;
                flex-direction: column;
                gap: 10px;
                margin-top: 20px;
                border: 2px solid #ddd;
                border-radius: 20px;
                padding: 30px 15px;

                .info_link {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    text-decoration: none;
                    color: black;
                    font-size: 16px;
                    font-weight: 500;

                    &:hover {
                        color: gray;
                    }

                    i {
                        padding: 10px;
                        font-size: 18px;
                    }

                    .first-item {
                        i {
                            margin-right: 15px;
                            background-color: #eee;
                            width: 40px;
                            height: 40px;
                            padding: 10px;
                            border-radius: 10px;
                        }
                    }

                    .fa-toggle-on {
                        font-size: 22px;
                    }
                }
            }
        }

        .signout {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 120px;

            .btn {
                width: 100%;
                display: block;
                align-items: center;
                gap: 8px;
                padding: 10px;

                i {
                    font-size: 16px;
                }
            }
        }
    }
}
