.my-cart {
    padding: 1rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    height: calc(100svh - 70px);


    .cart-item {
        margin: 0 .5rem;
        padding: 12px;
        display: flex;
        gap: 8px;
        border-radius: 22px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        margin-bottom: 1rem;



        .cart-img {
            background-color: #CCCCCC;
            width: 80px;
            height: 80px;
            border-radius: 10px;
        }

        .product-details {
            flex: 1;
            display: flex;
            flex-direction: column;

            p {
                margin: 0;
                padding: 0;
            }

            .product-name {
                font-weight: 600;
                font-size: 1rem;
                line-height: 150%;
            }

            .product-desc {
                font-size: 12px;
                flex: 1;
            }

            .product-price {
                font-weight: bold;
            }
        }


        .quantity-controls {
            display: flex;
            align-items: center;
            align-self: self-end;
            background-color: #EEEE;
            border-radius: 30px;


            .quantity-btn {
                border: none;
                background-color: #EEEE;
                width: 30px;
                height: 30px;
                font-size: 1.2rem;
                cursor: pointer;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 30px;
                padding: 1.1rem;
            }
        }
    }


    .cart-checkout {
        margin-top: auto;
        display: flex;
        flex-direction: column;
        gap: 1rem;


        .cart-total {
            display: flex;
            align-items: center;
            justify-content: space-between;

            .cart-total-item {
                font-weight: 500;
                font-size: 16px;
                color: #888888;
            }

            .cart-total-price {
                font-size: 1.475rem;
                font-weight: 600;
            }
        }

        button {
            margin: 0 .5rem;
            border: none;
            background-color: #000000;
            color: #FFFFFF;
            text-align: start;
            padding: 1rem;
            border-radius: 12px;
            font-size: 1rem;
            font-weight: 500;
            line-height: 150%;
        }
    }
}
